<div class="form-card">
  <header class="form-card__header">
    <h1 class="form-card__title">Find the client</h1>
  </header>
  <div class="form-card__content">
    <div class="form-group">
      <label for="first_name" class="form-question">Case Number?</label>
      <input type="text" class="text-input form-width--name" id="first_name">
    </div>
  </div>
  <div class="form-card__footer">
    <%= link_to "/clients/+14153074175", class: "button button--primary" do %>
      Continue <i class="icon icon-arrow_forward"></i>
    <% end %>
  </div>
</div>