<div class="form-card form-card--compact">
  <div class="form-card__header">
    <h1 class="form-card__title">Teresa D. Miller</h1>
    <h1 class="text--help">Account information</h1>
  </div>
  <div class="form-card__content">
    <div class="summary-table summary-table--left with-padding-med">
      <h3>SNAP</h3>
      <p class="summary-table__label">Important Dates</p>
      <p class="summary-table__value">Applied - 01/01/2020</p>
      <p class="summary-table__value">Interview - 01/01/2020</p>
      <p class="summary-table__value">Approve or Deny - 01/01/2020</p>
    </div>

    <div class="summary-table summary-table--left with-padding-med">
      <p class="summary-table__label">Contact Info</p>
      <p class="summary-table__value">exampel@email.com</p>
      <p class="summary-table__value">(555) 555-5555</p>
    </div>
<div class="grid">
          <div class="grid__item width-one-third">
            
          <div class="summary-table summary-table--left">
              <span class="label label--red">Unverified</span>
              <p class="summary-table__label">Employment</p>
              <p class="summary-table__value">Walmart</p>
              <p class="summary-table__label">Supervisor Name and Phone</p>
              <p class="summary-table__value">Joe Doe</p>
              <p class="summary-table__value">8487024594</p>
            </div></div>
          <div class="grid__item width-one-third">
            <div class="summary-table summary-table--left">
                <span class="label label--green">Verified</span>
                            <p class="summary-table__label">Lost Job</p>
              <p class="summary-table__value">Toys R Us</p>
              <p class="summary-table__label">Supervisor Name and Phone</p>
              <p class="summary-table__value">Jackie Jackson</p>
              <p class="summary-table__value">(555) 555-5555</p>
            </div>
          </div>
          <div class="grid__item width-one-third">
            <div class="summary-table summary-table--left">
                <span class="label label--green">Verified</span>
              <p class="summary-table__label">Residence</p>
              <p class="summary-table__value">123 Main St</p>
              <p class="summary-table__label">Land Lord</p>
              <p class="summary-table__value">Scrooge McDuck</p>
              <p class="summary-table__value">(555) 555-5555</p>
            </div>
          </div>
        </div>

  </div>
  <div class="form-card__footer">
  </div>
</div>